---
import "../styles/index.css";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <script>
      const stored = localStorage.getItem("theme");
      const systemPrefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;

      if (stored === "dark" || (!stored && systemPrefersDark)) {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body class="relative min-h-screen bg-background p-4 font-sans">
    <div class="w-full mx-auto max-w-xl sm:px-0 sm:py-6 lg:pb-8">
      <Header />
      <slot />
    </div>
  </body>
</html>
